@font-face {
    font-family: 'PopBold';
    src: url('../fonts/Poppins-Bold.ttf');
}

@font-face {
    font-family: 'PopReg';
    src: url('../fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'PopLight';
    src: url('../fonts/Poppins-Light.ttf');
}

@font-face {
    font-family: 'PopThin';
    src: url('../fonts/Poppins-Thin.ttf');
}
