@import 'fonts';
@import 'colors';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100vh;
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
}

body {
    background: $mainColor;
    font-family: 'PopReg';
    font-size: 16px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    height: 100%;
}
